body{
  color: blue;
  text-align: center;
  font-family: cursive, 'Courier New', Courier, monospace, sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px red solid;
  margin: 0 auto;

}